<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863401768723-n2icgj4q02hnv1girjjg0mip5t36l0pe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863401768723-n2icgj4q02hnv1girjjg0mip5t36l0pe</string>
	<key>API_KEY</key>
	<string>AIzaSyDQRTJjjImY0t_o4a4v9g_ompnQTecoWZs</string>
	<key>GCM_SENDER_ID</key>
	<string>863401768723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mgaiduk.Flashcards-App</string>
	<key>PROJECT_ID</key>
	<string>flashcards-f7a5e</string>
	<key>STORAGE_BUCKET</key>
	<string>flashcards-f7a5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863401768723:ios:a8e9bf685e88d08b0c4ce6</string>
</dict>
</plist>